<!--form.vtl-->
<h1>Let's change, your point of view</h1>
<form action='/change' method='get'>
  <div class="form-group">
     <label for="money">Your money</label>
     <input id="money" name="money" class="form-control" type="text">
   </div>
  <button type="submit" class="btn">Show me the money!</button>
</form>
<!--form.vtl-->
